@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none !important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

body {
  background: url("../img/landscape-7283516.jpg") no-repeat;
  background-size: cover;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #512a10;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
}

body {
  background-color: rgb(209, 213, 219);
  height: 100vh;
  align-items: center;
}

section {
  padding: 5rem 1rem;
}

.link-btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0.1rem solid #512a10;
  color: #512a10;
  background: none;
  cursor: pointer;
  font-size: 1.7rem;
}

.link-btn:hover {
  background: #512a10;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3rem;
  text-transform: capitalize;
  position: fixed;
  color: #222;
}

.header {
  position: fixed;
  #background-color: aqua;
  z-index: 1000;
  padding: 4rem 0;
}

.header.active {
  padding: 2rem 0;
  background: #512a10;
}

.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.header .nav a {
  font-size: 2rem;
  margin-right: 2rem;
  color: #fff;
}

.header .nav a:hover {
  text-decoration: underline !important;
  text-underline-offset: .5rem;
}

.header .icons div {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
  cursor: pointer;
}

.header #menu-btn {
  display: none;
}

.login-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.login-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-form form {
  width: 50rem;
  padding: 4rem;
  background: #fff;
  text-align: center;
  position: relative;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
}

.login-form form #close-login-form {
  position: absolute;
  top: -4rem;
  right: 0;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}

.login-form form #close-login-form:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.login-form form .logo {
  font-size: 2.5rem;
  color: #512a10;
  font-weight: bolder;
}

.login-form form h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
  margin-top: 1rem;
}

.login-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #512a10;
  font-size: 1.6rem;
  margin: 1rem 0;
}

.login-form form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  margin: 1rem 0;
}

.login-form form .flex label {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
  cursor: pointer;
}

.login-form form .flex a {
  font-size: 1.5rem;
  color: #512a10;
  margin-left: auto;
}

.login-form form .flex a:hover {
  text-decoration: underline !important;
}

.login-form form .link-btn {
  width: 100%;
  margin-bottom: 2rem;
}

.login-form form .account {
  padding: 1.5rem .5rem;
  background: #eee;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}

.login-form form .account a {
  color: #512a10;
}

.login-form form .account a:hover {
  text-decoration: underline !important;
}







.options {
  position: fixed;
  margin-left: 2%;
  margin-top: 10px;
  float: left;
  width: 100px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(234, 244, 246);
  border-radius: 10px;
  transition: .3s;
  #overflow: hidden;
}
.timemodule {
  margin-top: 25%;
  margin-left: 65%;
  position: fixed;;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 244, 246);
  border-radius: 10px;
  transition: .3s;
  #overflow: hidden;
}
.block-custom-large{
  position: relative;
  width: 80%;
}

.box {
  display: block;
  height: 15%;
  width: 85%;
  margin: 9px;
  border-radius: 5px;
  position: relative;
  transition: .3s;
  color: rgb(0, 0, 0);
}
.box img {
  font-size: 60px;
  width: 60px;
  height: 60px;
  position: absolute;
}

.box span{
  position: relative;
  top: 11px;
  left: 70px;
  font: 500 20px '';
  opacity: 0;
  transition: .1s;
}
.options:hover{
  width: 200px;.box:hover{
    background-color: rgb(55, 65, 81);
  }
}

.options:hover span{
  opacity: 1;
}

.container111{
  position: relative;
  margin-top: 100px;
  margin-left: 200px;
}



.key{
  position: relative;
  width: 70%;
  font-size: 10px;
}
.key form{
  position: relative;
  width: 100%;
}

.weather-img{
  width: 20px;
  height: 20px;
}
.weather a{
  font-size: 20px;
  font-family: "Microsoft YaHei";
}
.timemodule form{
  text-align: center;

}