<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--   <script-->
<!--      src="https://kit.fontawesome.com/64d58efce2.js"-->
<!--      crossorigin="anonymous"-->
<!--    ></script>-->
<script src="../static/js/jquery-3.6.0.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/loginstyle.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Change Password</title>
  </head>
  <script>
  var csrf_token = '{{ csrf_token }}';
</script>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">

          <form method="post" action='##' id='form1' class="sign-up-form" onsubmit="return false">
              {% csrf_token %}
        <span style="color: red"> {{ error }} </span>
            <div class="logo1"> <i class="fas fa-user-astronaut"></i> SJTUhelper </div>
            <h2 class="title">CHANGE PASSWORD</h2>

            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="text" name="signup_usr" placeholder="Enter your name." />
            </div>

              <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="email" name="email" placeholder="Enter your email." />
            </div>


              <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="text" name="token" placeholder="Enter your email token." />
            </div>

            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Enter your password." />
            </div>
               <input type="button"  class="btn" id="send-verification-code" value="send email" />
        <input type="button" id='signup' class="btn" value="change password" />

          </form>

        </div>

      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">


          </div>
        </div>
        <div class="panel right-panel">
        <div class="content">

            <img src="../static/img/sjtujob.png" class="image" alt="" />
          </div>


        </div>
      </div>
    </div>




      <script src="../static/js/changepassword.js"></script>


  </body>

</html>
