{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SJTUhelper</title>
    <link rel="stylesheet" href="../static/css/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="../static/css/1.3.0/css/line-awesome.css">
    <link rel="stylesheet" href="../static/css/style_main/style.css">
    <link rel="stylesheet" href="../static/css/style_main/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/calendar/style.css">

    <!-- bootstrap cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style_mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/diy_style2.css' %}">
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>

</head>

<body>
<input type="checkbox" name="" id="menu-toggle">
<div class="overlay">
    <label for="menu-toggle"></label>
</div>

<div class="sidebar">
    <div class="sidebar-container">
        <a href="../mainpage">
            <div class="brand">
                <h2>
                    <span class="fas fa-user-astronaut"></span>
                    SJTUhelper
                </h2>
            </div>
        </a>
        <div class="sidebar-avartar">
            <!--<img src="../static/img/main/user.png" alt="">-->
            <div id="username-initial" class="username-initial">A</div>
            <div class="avartar-info">
                <div class="avartar-text">
                    <h4 id="username">{{ current_username }}</h4>
                </div>
                <button onclick="showItem()" style="background: transparent;border: None">
                    <span class="las la-angle-double-down"></span>
                </button>
            </div>
            <script>
                element = document.getElementById("username")
                username = element.innerText
                initial_letter = username.charAt(0).toUpperCase()
                document.getElementById("username-initial").innerText = initial_letter
            </script>
        </div>
        <div class="sidebar-menu" style="font-size:15px">
            <ul>
                <li class="dropdown_items hidden " id="drop-item2">
                    <a href="../collection">
                        <span class="fas fa-star"></span>
                        <span>collection</span>
                    </a>
                </li>
                <li class="dropdown_items hidden" id="drop-item1">
                    <a href="../time" id="concentration">
                        <span class="fas fa-comment-slash"></span>
                        <span>Focus</span>
                    </a>
                    </a>
                </li>


                <li class="dropdown_items hidden " id="drop-item3">
                    <a href="../">
                        <span class="fas fa-sign-out-alt"></span>
                        <span>Log out</span>
                    </a>
                </li>

                <li class="dropdown_items hidden " id="drop-item6">
                    <a href="../sjtulogout">
                        <span class="fas fa-sign-out-alt"></span>
                        <span>delete jaccount</span>
                    </a>
                </li>

                <li class="dropdown_items hidden" id="drop-item4">
                    <a href="../changepassword">
                        <span class="fas fa-user-edit"></span>
                        <span>Change password</span>
                    </a>
                </li>
                <li class="dropdown_items hidden" id="drop-item5">
                    <br>
                </li>
                <script>
                    function showItem() {
                        var targetItems = document.querySelectorAll('.dropdown_items');
                        for (let i = 0; i < targetItems.length; i++) {
                            if (targetItems[i].classList.contains('hidden')) {
                                setTimeout(function () {
                                    targetItems[i].classList.remove('hidden');
                                }, 20 * i);
                            } else {
                                setTimeout(function () {
                                    targetItems[i].classList.add('hidden');
                                }, 20 * i);
                            }
                        }
                    }
                </script>


                <li>
                    <a href="../zhihu" id="zhihu">
                        <span class="fab fa-zhihu"></span>
                        <span>Zhihu</span>
                    </a>
                </li>
                <li>
                    <a href="../github">
                        <span class="fab fa-github"></span>
                        <span>Github</span>
                    </a>
                </li>
                <li>
                    <a href="../bilibili">
                        <img src="../static/img/bilibili.jpg" style="width:12px">
                        <span>BiliBili</span>
                    </a>
                </li>
                <li>
                    <a href="../weibo">
                        <span class="fab fa-weibo"></span>
                        <span>Weibo</span>
                    </a>
                </li>
                <li>
                    <a href="../shuiyuan">
                        <span class="fas fa-tint"></span>
                        <span>Shuiyuan</span>
                    </a>
                </li>
                <li>
                    <a href="../canvas">
                        <span class="fas fa-clipboard-list"></span>
                        <span>canvas</span>
                    </a>
                </li>
                <li>
                    <a href="../dekt" id="dekt">
                        <span class="fas la-chalkboard-teacher"></span>
                        <span>dekt</span>
                    </a>
                </li>
                <li>
                    <a href="../seiee" id="seiee">
                        <span class="fas la-school"></span>
                        <span>seiee</span>
                    </a>
                </li>


            </ul>
        </div>


    </div>
</div>


<div class="main-content">
    <header>
        <div class="header-title-wrapper">
            <label for="menu-toggle">
                <span class="las la-bars"></span>
            </label>
            <div class="header-title">
                <h1>Collection </h1>
                <p>Review the topics you collected.</p>
            </div>
        </div>
    </header>
    <main>

        <div class="container111">


            <div class="block-custom-large">
                <h1>zhihu</h1>
                <hr/>
                {% for obj in zhihuHotTopic %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.2 }}">
                            <button id="zhihu-btn-{{ forloop.counter }}" class="btn-collected" onclick="collect_zhihu{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="zhihu-img-{{ forloop.counter }}" src="{% static 'img/yishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_zhihu{{ forloop.counter }}(content) {
                                    btn = document.getElementById("zhihu-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("zhihu-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "zhihu")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.2 }}">
                                        <a href="{{ obj.2 }}">
                                            {% autoescape off %}
                                                {{ obj.3 }}
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.2 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.1 }}                    </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <h1>github</h1>
                <hr/>
                {% for obj in github %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.3 }}">

                            <button id="github-btn-{{ forloop.counter }}" class="btn-collected" onclick="collect_github{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="github-img-{{ forloop.counter }}" src="{% static 'img/yishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_github{{ forloop.counter }}(content) {
                                    btn = document.getElementById("github-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("github-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "github")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.3 }}">
                                        <a href="{{ obj.3 }}">
                                            {% autoescape off %}
                                                <img alt="111" src="{% static 'img/github.svg' %}"/>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.3 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.1 }}
                                        </div>
                                        <div class="blog-slider__content">
                                            {{ obj.2 }}
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <h1>bilibili</h1>
                <hr/>
                {% for obj in bilibili %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.4 }}">

                            <button id="bilibili-btn-{{ forloop.counter }}" class="btn-collected" onclick="collect_bilibili{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="bilibili-img-{{ forloop.counter }}" src="{% static 'img/yishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_bilibili{{ forloop.counter }}(content) {
                                    btn = document.getElementById("bilibili-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("bilibili-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "bilibili")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.4 }}">
                                        <a href="{{ obj.4 }}">
                                            {% autoescape off %}
                                                <img alt="111" src={{ obj.3 }}>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.4 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.1 }}
                                        </div>
                                        <div class="blog-slider__content">
                                            tag:{{ obj.2 }}
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <h1>weibo</h1>
                <hr/>
                {% for obj in weibo %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.2 }}">

                            <button id="weibo-btn-{{ forloop.counter }}" class="btn-collected" onclick="collect_weibo{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="weibo-img-{{ forloop.counter }}" src="{% static 'img/yishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_weibo{{ forloop.counter }}(content) {
                                    btn = document.getElementById("weibo-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("weibo-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "weibo")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.2 }}">
                                        <a href="{{ obj.4 }}">
                                            {% autoescape off %}
                                                <img alt="111" src="{% static obj.1 %}"/>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.2 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.0 }}
                                        </div>

                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <h1>canvas</h1>
                <hr/>
                {% for obj in canvas_data_list %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.7 }}">

                            <button id="canvas-btn-{{ forloop.counter }}" class="btn-collected" onclick="collect_canvas{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="canvas-img-{{ forloop.counter }}" src="{% static 'img/yishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_canvas{{ forloop.counter }}(content) {
                                    btn = document.getElementById("canvas-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("canvas-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "canvas")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>

                            <div class="ddl">
                                <img class="finish" id="finish-{{ forloop.counter }}"/>
                                <a>ddl: {{ obj.1 }}</a>
                            </div>

                            <script>
                                element = document.getElementById("finish-{{ forloop.counter }}");
                                finished = "{{obj.2}}";
                                if (finished.toLowerCase() == "false") {
                                    element.src = "/../static/img/unfinished.svg"
                                } else {
                                    element.src = "/../static/img/finished.svg"
                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.7 }}">
                                        <a href="{{ obj.4 }}">
                                            {% autoescape off %}
                                                <img alt="111" src="{% static 'img/SJTU.png' %}"/>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.7 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.6 }} ( 课程：{{ obj.4 }} )
                                        </div>
                                        <div class="blog-slider__content">
                                            <p>{{ obj.5 }}</p>
                                        </div>
                                    </a>

                                </div>
                            </div>


                        </div>
                    </div>
                {% endfor %}

                <h1>dekt</h1>
                <hr/>
                {% for obj in dekt_data_list %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.2 }}">

                            <button id="dekt-btn-{{ forloop.counter }}" class="btn-collected" onclick="collect_dekt{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="dekt-img-{{ forloop.counter }}" src="{% static 'img/yishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_dekt{{ forloop.counter }}(content) {
                                    btn = document.getElementById("dekt-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("dekt-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "dekt")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>


                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.2 }}">
                                        <a href="{{ obj.2 }}">
                                            {% autoescape off %}
                                                <img alt="111" src={{ obj.9 }}>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.2 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.4 }}
                                        </div>
                                        <div class="blog-slider__content">
                                            <p>报名开始时间: {{ obj.5 }}</p>
                                            <p>报名结束时间: {{ obj.6 }}</p>
                                            <p>活动开始时间: {{ obj.7 }}</p>
                                            <p>活动结束时间: {{ obj.8 }}</p>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="tagg">
                                <a class="tagg-text">{{ obj.1 }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <h1>shuiyuan</h1>
                <hr/>
                {% for obj in shuiyuan_data_list %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.1 }}">

                            <button id="shuiyuan-btn-{{ forloop.counter }}" class="btn-collected" onclick="collect_shuiyuan{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="shuiyuan-img-{{ forloop.counter }}" src="{% static 'img/yishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_shuiyuan{{ forloop.counter }}(content) {
                                    btn = document.getElementById("shuiyuan-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("shuiyuan-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "shuiyuan")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>
                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.1 }}">
                                        <a href="{{ obj.4 }}">
                                            {% autoescape off %}
                                                <img alt="111" src="{% static 'img/shuiyuan.jpg' %}"/>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.1 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.2 }}
                                        </div>
                                        <div class="blog-slider__content">
                                            <p>发帖数: {{ obj.3 }}</p>
                                            <p>回复数: {{ obj.4 }}</p>
                                            <p>浏览量: {{ obj.8 }}</p>
                                        </div>
                                    </a>

                                </div>


                            </div>

                            <div class="tagg">
                                <a class="tagg-text">{{ obj.6 }}</a>
                            </div>
                            <i class="red-dot" id="red-dot-{{ forloop.counter }}"></i>

                            <script>
                                hasseen = "{{obj.5}}"

                                if (hasseen == "False") {
                                    element = document.getElementById("red-dot-{{ forloop.counter }}");
                                    element.className = "red-dot-disappear"
                                }
                            </script>

                        </div>


                    </div>



                {% endfor %}


                <h1>seiee</h1>
                <hr/>
                {% for obj in seiee_data_list %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.2 }}">
                            <button id="seiee-btn-{{ forloop.counter }}" class="btn-collected" onclick="collect_seiee{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="seiee-img-{{ forloop.counter }}" src="{% static 'img/yishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_seiee{{ forloop.counter }}(content) {
                                    btn = document.getElementById("seiee-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("seiee-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "seiee")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.2 }}">
                                        <a href="{{ obj.2 }}">
                                            {% autoescape off %}
                                                <img alt="111" src="{% static 'img/SJTU.png' %}"/>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.2 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.0 }}
                                        </div>
                                        <div class="blog-slider__content">
                                            <p>时间: {{ obj.1 }}</p>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
        </dd>
        </dl>

        </section>

    </main>
</div>


</body>
</html>