<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>INFO 列表</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>密码</th>
        <th>年龄</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in data_list %}
    <tr>
        <td>{{obj.id  }}</td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.password }}</td>
        <td>{{ obj.age }}</td>
        <td>
            <a href="/info/delete/?nid={{ obj.id }}"> 删除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="/info/add"> 添加更多用户 </a>
</body>
</html>