{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SJTUhelper</title>
    <link rel="stylesheet" href="../static/css/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="../static/css/1.3.0/css/line-awesome.css">
    <link rel="stylesheet" href="../static/css/style_main/style.css">
    <link rel="stylesheet" href="../static/css/style_main/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/calendar/style.css">

    <!-- bootstrap cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style_mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/diy_style2.css' %}">
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function showcollection() {
            var keyindex = 1;
            {% for obj in key %}
                if (todos.length > 5) {
                    RenderAllTodos();
                    return;
                }
                newtodo = {
                    text: "{{obj}}",
                    done: false,
                    id: keyindex
                }
                keyindex += 1;
                todos.push(newtodo);
            {% endfor %}
            RenderAllTodos();

        }

        function showItem() {
            var targetItems = document.querySelectorAll('.dropdown_items');
            for (let i = 0; i < targetItems.length; i++) {
                if (targetItems[i].classList.contains('hidden')) {
                    setTimeout(function () {
                        targetItems[i].classList.remove('hidden');
                    }, 20 * i);
                } else {
                    setTimeout(function () {
                        targetItems[i].classList.add('hidden');
                    }, 20 * i);
                }
            }
        }
    </script>

</head>

<body onload="showcollection()">
<input type="checkbox" name="" id="menu-toggle">
<div class="overlay">
    <label for="menu-toggle"></label>
</div>

<div class="sidebar">
    <div class="sidebar-container">
        <a href="../mainpage">
            <div class="brand">
                <h2>
                    <span class="fas fa-user-astronaut"></span>
                    SJTUhelper
                </h2>
            </div>
        </a>
        <div class="sidebar-avartar">
            {#            <img src="../static/img/main/user.png" alt="">#}
            <div id="username-initial" class="username-initial">A</div>
            <div class="avartar-info">
                <div class="avartar-text">
                    <h4 id="username">{{ current_username }}</h4>
                </div>
                <button onclick="showItem()" style="background: transparent">
                    <span class="las la-angle-double-down"></span>
                </button>
            </div>
            <script>
                element = document.getElementById("username")
                username = element.innerText
                initial_letter = username.charAt(0).toUpperCase()
                document.getElementById("username-initial").innerText = initial_letter
            </script>
        </div>
        <div class="sidebar-menu" style="font-size:15px">
            <ul>
                <li class="dropdown_items hidden " id="drop-item2">
                    <a href="../collection">
                        <span class="fas fa-star"></span>
                        <span>collection</span>
                    </a>
                </li>
                <li class="dropdown_items hidden" id="drop-item1">
                    <a href="../time" id="concentration">
                        <span class="fas fa-comment-slash"></span>
                        <span>Focus</span>
                    </a>
                    </a>
                </li>


                <li class="dropdown_items hidden " id="drop-item3">
                    <a href="../logout">
                        <span class="fas fa-sign-out-alt"></span>
                        <span>Log out</span>
                    </a>
                </li>

                <li class="dropdown_items hidden " id="drop-item6">
                    <a href="../sjtulogout">
                        <span class="fas fa-sign-out-alt"></span>
                        <span>delete jaccount</span>
                    </a>
                </li>


                <li class="dropdown_items hidden" id="drop-item4">
                    <a href="../changepassword">
                        <span class="fas fa-user-edit"></span>
                        <span>Change password</span>
                    </a>
                </li>
                <li class="dropdown_items hidden" id="drop-item5">
                    <br>
                </li>


                <li>
                    <a href="../zhihu" id="zhihu">
                        <span class="fab fa-zhihu"></span>
                        <span>Zhihu</span>
                    </a>
                </li>
                <li>
                    <a href="../github" id="github">
                        <span class="fab fa-github"></span>
                        <span>Github</span>
                    </a>
                </li>
                <li>
                    <a href="../bilibili" id="bilibili">
                        <img src="../static/img/bilibili.jpg" style="width:15px">
                        <span>BiliBili</span>
                    </a>
                </li>
                <li>
                    <a href="../weibo" id="weibo">
                        <span class="fab fa-weibo"></span>
                        <span>Weibo</span>
                    </a>
                </li>
                <li>
                    <a href="../shuiyuan" id="shuiyuan">
                        <span class="fas fa-tint"></span>
                        <span>Shuiyuan</span>
                    </a>
                </li>
                <li>
                    <a href="../canvas" id="canvas">
                        <span class="fas fa-clipboard-list"></span>
                        <span>canvas</span>
                    </a>
                </li>
                <li>
                    <a href="../dekt" id="dekt">
                        <span class="fas la-chalkboard-teacher"></span>
                        <span>dekt</span>
                    </a>
                </li>
                <li>
                    <a href="../seiee" id="seiee">
                        <span class="fas la-school"></span>
                        <span>seiee</span>
                    </a>
                </li>


                <script>
                    var requestUrl = request.getScheme() //当前链接使用的协议
                        + "://" + request.getServerName()//服务器地址
                        + ":" + request.getServerPort() //端口号
                        + request.getContextPath() //应用名称，如果应用名称为
                        + request.getServletPath() //请求的相对url
                        + "?" + request.getQueryString(); //请求参数
                    print(requestUrl);
                    var element = document.getElementById("canvas");
                    element.class = "active";

                    var element2 = document.getElementById("dekt");
                    element2.href = "../bilibili";
                    element2.style.background = "green"
                    element2.setAttribute("class", "active");
                </script>


            </ul>
        </div>


    </div>
</div>

<div class="main-content">
    <header>
        <div class="header-title-wrapper">
            <label for="menu-toggle">
                <span class="las la-bars"></span>
            </label>
            <div class="header-title">
                <h1 id="header-title-h1">Analytics</h1>
                <p id="header-title-p">Display analytics about your Channel <span class="las la-chart-line"></span></p>
            </div>
        </div>
    </header>
    <main>


        <section>

        </section>

        <div class="container111·">


            <div class="block-custom-large">
                {% for obj in zhihuHotTopic %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.2 }}">
                            <button id="zhihu-btn-{{ forloop.counter }}" class="btn-uncollected" onclick="collect_{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="zhihu-img-{{ forloop.counter }}" src="{% static 'img/weishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_{{ forloop.counter }}(content) {
                                    btn = document.getElementById("zhihu-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("zhihu-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "zhihu")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送


                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.2 }}">
                                        <a href="{{ obj.2 }}">
                                            {% autoescape off %}
                                                {{ obj.3 }}
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.2 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.1 }}                    </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                {% for obj in github %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.3 }}">

                            <button id="github-btn-{{ forloop.counter }}" class="btn-uncollected" onclick="collect_{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="github-img-{{ forloop.counter }}" src="{% static 'img/weishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_{{ forloop.counter }}(content) {
                                    btn = document.getElementById("github-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("github-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "github")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.3 }}">
                                        <a href="{{ obj.3 }}">
                                            {% autoescape off %}
                                                <img alt="loading···" src="{% static 'img/github.svg' %}"/>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.3 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.1 }}
                                        </div>
                                        <div class="blog-slider__content">
                                            {{ obj.2 }}
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                {% for obj in bilibili %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.4 }}">

                            <button id="bilibili-btn-{{ forloop.counter }}" class="btn-uncollected" onclick="collect_{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="bilibili-img-{{ forloop.counter }}" src="{% static 'img/weishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_{{ forloop.counter }}(content) {
                                    btn = document.getElementById("bilibili-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("bilibili-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "bilibili")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.4 }}">
                                        <a href="{{ obj.4 }}">
                                            {% autoescape off %}
                                                <img alt="loading···" src={{ obj.3 }}>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.4 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.1 }}
                                        </div>
                                        <div class="blog-slider__content">
                                            tag:{{ obj.2 }}
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for obj in weibo %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.2 }}">

                            <button id="weibo-btn-{{ forloop.counter }}" class="btn-uncollected" onclick="collect_{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="weibo-img-{{ forloop.counter }}" src="{% static 'img/weishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_{{ forloop.counter }}(content) {
                                    btn = document.getElementById("weibo-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("weibo-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "weibo")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.2 }}">
                                        <a href="{{ obj.4 }}">
                                            {% autoescape off %}
                                                <img alt="loading···" src="{% static obj.1 %}"/>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.2 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.0 }}
                                        </div>

                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                {% for obj in canvas_data_list %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.7 }}">

                            <button id="canvas-btn-{{ forloop.counter }}" class="btn-uncollected" onclick="collect_{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="canvas-img-{{ forloop.counter }}" src="{% static 'img/weishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_{{ forloop.counter }}(content) {
                                    btn = document.getElementById("canvas-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("canvas-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "canvas")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>

                            <div class="ddl">
                                <img class="finish" id="finish-{{ forloop.counter }}"/>
                                <a>ddl: {{ obj.1 }}</a>
                            </div>

                            <script>
                                element = document.getElementById("finish-{{ forloop.counter }}");
                                finished = "{{obj.2}}";
                                if (finished.toLowerCase() == "false") {
                                    element.src = "/../static/img/unfinished.svg"
                                } else {
                                    element.src = "/../static/img/finished.svg"
                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.7 }}">
                                        <a href="{{ obj.4 }}">
                                            {% autoescape off %}
                                                <img alt="loading···" src="{% static 'img/SJTU.png' %}"/>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.7 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.6 }} [ {{ obj.4 }} ]
                                        </div>
                                        <div class="blog-slider__content">
                                            <p>{{ obj.5 }}</p>
                                        </div>
                                    </a>

                                </div>
                            </div>


                        </div>
                    </div>
                {% endfor %}


                {% for obj in dekt_data_list %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.2 }}">

                            <button id="dekt-btn-{{ forloop.counter }}" class="btn-uncollected" onclick="collect_{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="dekt-img-{{ forloop.counter }}" src="{% static 'img/weishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_{{ forloop.counter }}(content) {
                                    btn = document.getElementById("dekt-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("dekt-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "dekt")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>


                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.2 }}">
                                        <a href="{{ obj.2 }}">
                                            {% autoescape off %}
                                                <img alt="loading···" src={{ obj.9 }}>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.2 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.4 }}
                                        </div>
                                        <div class="blog-slider__content" style="font-size: 0.9rem">
                                            <p style="color: #818182">报名开始时间: {{ obj.7 }}</p>
                                            <p style="color: #818182">报名结束时间: {{ obj.8 }}</p>
                                            <br/>
                                            <p>活动开始时间: {{ obj.5 }}</p>
                                            <p>活动结束时间: {{ obj.6 }}</p>
                                            <br/>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="tagg">
                                <a class="tagg-text">{{ obj.1 }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                {% for obj in shuiyuan_data_list %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.1 }}">

                            <button id="shuiyuan-btn-{{ forloop.counter }}" class="btn-uncollected" onclick="collect_{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="shuiyuan-img-{{ forloop.counter }}" src="{% static 'img/weishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_{{ forloop.counter }}(content) {
                                    btn = document.getElementById("shuiyuan-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("shuiyuan-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "shuiyuan")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>
                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.1 }}">
                                        <a href="{{ obj.4 }}">
                                            {% autoescape off %}
                                                <img alt="loading···" src="{% static 'img/shuiyuan.jpg' %}"/>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.1 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.2 }}
                                        </div>
                                        <div class="blog-slider__content">
                                            <p>发帖数: {{ obj.3 }}</p>
                                            <p>回复数: {{ obj.4 }}</p>
                                            <p>浏览量: {{ obj.8 }}</p>
                                        </div>
                                    </a>

                                </div>


                            </div>

                            <div class="tagg">
                                <a class="tagg-text">{{ obj.6 }}</a>
                            </div>
                            <i class="red-dot" id="red-dot-{{ forloop.counter }}"></i>

                            <script>
                                hasseen = "{{obj.5}}"

                                if (hasseen == "False") {
                                    element = document.getElementById("red-dot-{{ forloop.counter }}");
                                    element.className = "red-dot-disappear"
                                }
                            </script>

                        </div>


                    </div>



                {% endfor %}


                {% for obj in seiee_data_list %}
                    <div class="blog-slider">
                        <div class="blog-slider__wrp swiper-wrapper" href="{{ obj.2 }}">
                            <button id="seiee-btn-{{ forloop.counter }}" class="btn-uncollected" onclick="collect_{{ forloop.counter }} ({{ obj }})">
                                {% autoescape off %}
                                    <img id="seiee-img-{{ forloop.counter }}" src="{% static 'img/weishoucang.svg' %}" style="width: 30px;height: 30px"/>
                                {% endautoescape %}
                            </button>

                            <script>
                                function collect_{{ forloop.counter }}(content) {
                                    btn = document.getElementById("seiee-btn-{{ forloop.counter }}")
                                    btn_img = document.getElementById("seiee-img-{{ forloop.counter }}")
                                    var formData = new FormData();
                                    formData.append('site', "seiee")
                                    formData.append('status', btn.className);
                                    content.forEach(function (value, index) {
                                        formData.append('data' + index, value);
                                    });
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/process_favorites/', true);
                                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            if (btn.className === "btn-uncollected") {
                                                btn_img.src = "/../static/img/yishoucang.svg"
                                                btn.className = "btn-collected"
                                            } else {
                                                btn_img.src = "/../static/img/weishoucang.svg"
                                                btn.className = "btn-uncollected"
                                            }
                                        }
                                    };
                                    xhr.send(formData);  // 将所选内容ID作为数据发送

                                }
                            </script>

                            <div class="blog-slider__item swiper-slide">
                                <a target="_blank">
                                    <div class="blog-slider__img" href="{{ obj.2 }}">
                                        <a href="{{ obj.2 }}">
                                            {% autoescape off %}
                                                <img alt="loading···" src="{% static 'img/SJTU.png' %}"/>
                                            {% endautoescape %}</a>
                                    </div>
                                </a>
                                <div class="blog-slider__content">
                                                <span class="blog-slider__code">
                                                                    </span>
                                    <a target="_blank" href="{{ obj.2 }}">
                                        <div class="blog-slider__title">
                                            {{ obj.0 }}
                                        </div>
                                        <div class="blog-slider__content">
                                            <p>时间: {{ obj.1 }}</p>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
        <section class="weather-info">
            <div>
                <div class="analytic">
                    <div class="analytic-icon">
                        <span class="weather-img"></span>
                    </div>
                    <div class="analytic-info">
                        <h3>Weather</h3>
                        <table  >
                            {% for obj in minhang_weather %}
                                <tr class="weather">
                                    <td>
                                        {% autoescape off %}
                                            <img id="dynamic-image-{{ forloop.counter }}" src="" alt="Image" class="weather-img"/>
                                        {% endautoescape %}
                                        &nbsp;
                                    </td>
                                    <td>{{ obj.5 }}&nbsp;</td>
                                    <td>{{ obj.1 }}&nbsp; </td>
                                    <td>{{ obj.2 }}°C&nbsp;</td>
                                    <td> {{ obj.3 }}&nbsp;</td>
                                    <td> {{ obj.4 }}&nbsp;</td>

                                    <script>
                                        // JavaScript代码
                                        var image_name = "{{ obj.0 }}";  // 动态的图片名称

                                        // 获取图片元素
                                        var image_element = document.getElementById("dynamic-image-{{ forloop.counter }}");

                                        // 设置图片的src属性，使用动态的图片名称
                                        image_element.src = "{% static "img/" %}" + image_name;
                                    </script>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        </section>

        <form class="key-choose" method="post" target="_self">
            {% csrf_token %}
            <div class="analytic">
                <div class="card-body">
                    <h4 class="mb-0">Key words</h4>
                    <hr/>
                    <div class="row gy-3">
                        <div class="col-md-10">
                            <input id="todo-input" type="text" class="form-control" placeholder="at most 5 labels" value=""/>
                        </div>
                        <div class="col-md-2 text-end d-grid">
                            <button type="button" onclick="CreateTodo();" class="btn btn-light">Add</button>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-12">
                            <div id="todo-container" class="btn btn-light"></div>
                        </div>
                    </div>
                    <input type="submit" class="form-control"/>
                </div>
            </div>
            <script>
                // to do list
                var todos = [{
                    text: "Input what you are interested in to add your preference.",
                    id: 0
                }];
                var currentTodo = {
                    text: "",
                    id: 0
                }
                document.getElementById("todo-input").oninput = function (e) {
                    currentTodo.text = e.target.value;
                };

                /*
                    //jQuery Version
                    $('#todo-input').on('input',function(e){
                        currentTodo.text = e.target.value;
                       });
                    */
                function DrawTodo(todo) {
                    var newTodoHTML = `
                        <div class="pb-3 todo-item" todo-id="${todo.id}">
                            <div class="input-group">

                                <input type="text" readonly class="form-control ${todo.done && " todo-done "} "  name = "key-${todo.id}" aria-label="Text input with checkbox" value="${todo.text}">

                                    <button todo-id="${todo.id}" class="btn btn-outline-secondary bg-dark text-white" type="button" onclick="DeleteTodo(this);" id="button-addon2 ">X</button>

                            </div>
                        </div>
                          `;
                    var dummy = document.createElement("DIV");
                    dummy.innerHTML = newTodoHTML;
                    document.getElementById("todo-container").appendChild(dummy.children[0]);
                    /*
                        //jQuery version
                         var newTodo = $.parseHTML(newTodoHTML);
                         $("#todo-container").append(newTodo);
                        */
                }

                function RenderAllTodos() {
                    var container = document.getElementById("todo-container");
                    while (container.firstChild) {
                        container.removeChild(container.firstChild);
                    }
                    /*
                        //jQuery version
                          $("todo-container").empty();
                        */
                    for (var i = 1; i < todos.length; i++) {
                        DrawTodo(todos[i]);
                    }
                }

                RenderAllTodos();


                function DeleteTodo(button) {
                    var deleteID = parseInt(button.getAttribute("todo-id"));
                    /*
                        //jQuery version
                          var deleteID = parseInt($(button).attr("todo-id"));
                        */
                    for (let i = 0; i < todos.length; i++) {
                        if (todos[i].id === deleteID) {
                            todos.splice(i, 1);
                            RenderAllTodos();
                            break;
                        }
                    }
                }

                function TodoChecked(id) {
                    todos[id].done = !todos[id].done;
                    RenderAllTodos();
                }

                function CreateTodo() {
                    if (todos.length > 5) {
                        return;
                    }
                    newtodo = {
                        text: currentTodo.text,
                        done: false,
                        id: todos.length
                    }
                    todos.push(newtodo);
                    RenderAllTodos();
                }
            </script>
        </form>
        </section>

    </main>
</div>


<script src="{% static 'js/mainpage.js' %}"></script>
</body>
</html>