<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
</head>
<body>
<h1>INFO 列表</h1>

<table border="1">
    {% for obj in canvas_data_list %}
        <h3>编号:{{ obj.0 }}</h3>
        <h3>课程: {{ obj.4 }}</h3>
        <h3>ddl: {{ obj.1 }}</h3>
        <h3>是否已提交: {{ obj.2 }}</h3>
        <a href="{{obj.7}}">
        {% autoescape off %}
            标题：{{ obj.6 }}
            {% endautoescape %}
        </a>
        <h3>描述: {{ obj.5 }}</h3>
    {% endfor %}
</table>

</table>
</body>
</html>