<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>专注时钟</title>
<link rel="icon" type="image/x-ico" href="../static/plugins/time/img/iconmonstr-time.png"/>
<link rel="stylesheet" href="../static/plugins/time/style.css">

<link rel="stylesheet" href="../static/plugins/time/youjian.css">

</head>
<body class="click_btn" style="overflow: hidden" onload="startTimer()" >
	<div class="view-fullscreen">
		<div class="clock cancel-fullscreen"  >
		<div class="flip">
			<div class="digital front" data-number="0"></div>
			<div class="digital back" data-number="1"></div>
		</div>
		<div class="flip">
			<div class="digital front" data-number="0"></div>
			<div class="digital back" data-number="1"></div>
		</div>
		<em class="divider">:</em>
		<div class="flip">
			<div class="digital front" data-number="0"></div>
			<div class="digital back" data-number="1"></div>
		</div>
		<div class="flip">
			<div class="digital front" data-number="0"></div>
			<div class="digital back" data-number="1"></div>
		</div>
		<em class="divider">:</em>
		<div class="flip">
			<div class="digital front" data-number="0"></div>
			<div class="digital back" data-number="1"></div>
		</div>
		<div class="flip">
			<div class="digital front" data-number="0"></div>
			<div class="digital back" data-number="1"></div>
		</div>
  <br>


	</div>
	</div>

	    
<!-- 一言 -->

	<!-- partial -->
	<script src="../static/plugins/time/script.js"></script>

	<!--不休眠  -->
	<script src="../static/plugins/time/NoSleep.min.js"></script>
	<script src="../static/plugins/time/NoSleepWindow.js"></script>
	<script src="../static/plugins/time/quanping.js"></script>
	<script src="../static/plugins/time/youjian.js"></script>
</body>
</html>