
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SJTUhelper!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   <!-- bootstrap cdn link  -->

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
   <!-- custom css file link  -->
   <link rel="stylesheet" href="../static/css/style.css">
   <link rel="stylesheet" href="../static/css/style.scss">

   
</head>
<body>


<header class="header fixed-top">

   <div class="container">

      <div class="row align-items-center">

         <a href="#" class="logo mr-auto"> <i class="fas fa-user-astronaut"></i> SJTUhelper </a>

         <nav class="nav" >
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#menu">menu</a>
            <a href="#previews">previews</a>
            <a href="#reviews">reviews</a>
            <a href="mailto:AlexWang_ck@sjtu.edu.cn&sfx-sjtu@sjtu.edu.cn?subject=Problems from SJTUhelper">contact</a>
            <a href="https://github.com/sfmoraa/SJTUhelper">
               <p>github</p>
            </a>
         </nav>

         <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="login-btn" class="fas fa-user"></div>

         </div>

      </div>

   </div>

</header>


<div class="login-form">

       <form action="">
          <div id="close-login-form" class="fas fa-times"></div>
          <a href="#" class="logo mr-auto"> <i class="fas fa-user-astronaut"></i> SJTUhelper </a>
          <input type="email" name="" placeholder="enter your email" id="1" class="box">
          <input type="password" name="" placeholder="enter your password" id="2" class="box">
          <div class="flex">
             <input type="checkbox" name="" id="remember-me">
             <label for="remember-me">remember me</label>
             <a href="#">forgot password?</a>
          </div>
          <input type="submit" value="login now" class="link-btn">
             <p class="account">
                don't have an account?
                <div class="icons">
                <div id="register-btn" class="fas fa-registered"></div>
                </div>
             </p>
       </form>

</div>




<section class="home" id="home">

   <div class="container">

      <div class="row align-items-center text-center text-md-left min-vh-100">
         <div class="col-md-6">
            <span>SJTUhelper</span>
            <h3>Learing with SJTUhelper</h3>
            <h4>Developed by us.</h4>
            <a href="#login-form" class="link-btn">get started</a>
         </div>
      </div>

   </div>

</section>-



<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

   <div class="container">

      <div class="row align-items-center">
         <div class="col-md-6">
            <div class="hero-img">
               <img src="../static/img/bot.jpg" class="w-100" alt="">
            </div>

         </div>
         <div class="col-md-6">
            <span>Who we are?</span>
            <h3 class="title">Students want a bot helping us in SJTU.</h3>
            <p>The SJTUhelper website provides trendings of Zhihu, Github and other websites, real-time news of SJTU websites such as canvas, schedule management and other services for students.</p>
            <a href="#" class="link-btn">view more</a> 
                   
         </div>
      </div>

   </div>
</section>
   <section class="menu" id="menu">

      <h1 class="heading"> our menu </h1>
   
      <div class="container box-container">

         <div class="box">
            <img src="../static/img/zhihu.svg" alt="zhihu" width="90px">
            <h3>Zhihu Topics</h3>
            <p>The recommendation of Zhihu topics college students interested in.</p>
            <a href="#" class="link-btn">view more</a>
         </div>

         <div class="box">
            <img src="../static/img/github.svg" alt="github" width="70px">
            <h3>Github Trendings</h3>
            <p>Github repositories and knowledge for college students recommended.</p>
            <a href="#" class="link-btn">view more</a>
         </div>
   
         <div class="box">
            <img src="../static/img/bilibili.svg" alt="bilibili" width="80px">
            <h3>Bilibili Trendings</h3>
            <p>Videos of Bilibili trendings recommended to College Students.</p>
            <a href="#" class="link-btn">view more</a>
         </div>
   
         <div class="box">
            <img src="../static/img/shuiyuan.svg" alt="shuiyuan" width="200px">
            <h3>Shuiyuan Community</h3>
            <p>Latest posts from SJTU Shuiyuan Community.</p>
            <a href="#" class="link-btn">view more</a>
         </div>
   
         <div class="box">
            <img src="../static/img/SJTU.png" alt="canvas/" width="150px">
            <h3>Canvas Information</h3>
            <p>To-do-list in Canvas for each SJTU student.</p>
            <a href="#" class="link-btn">view more</a>
         </div>
   
         <div class="box">
            <img src="../static/img/ellipsis-solid.svg" alt="more" width="50px">
            <h3>To Be Continued</h3>
            <p>More sites such as Dekt, Teaching Information Service, etc. </p>
            <a href="#" class="link-btn">view more</a>
         </div>
   
      </div>
   
   </section>




<section class="previews" id="previews">

   <h1 class="heading"> Today's previews</h1>
   <h3 class="heading"><script>
      var now=new Date();
      var str=now.toLocaleDateString();
      document.write(str);
   </script></h3>

   <div class="box-container container">

       {% for obj in zhihuHotTopic%}
         <div class="box">
            {% autoescape off %}
            {{ obj.3 }}
            {% endautoescape %}
            <div class="content">
               <h3>{{ obj.0 }}{{ obj.1 }}</h3>
               <a href="{{obj.2}}" class="link-btn">view more</a>
            </div>
         </div>
         {% endfor %}


      <div class="box">
         <video src="https://user-images.githubusercontent.com/25863658/271315963-db860801-7b9c-4b30-9eb9-87330175f5c8.mp4" data-canonical-src="https://user-images.githubusercontent.com/25863658/271315963-db860801-7b9c-4b30-9eb9-87330175f5c8.mp4" controls="controls" muted="muted" class="d-block rounded-bottom-2  width-fit" style="max-height:150px; min-height: 0px" autoplay>
         </video>
         <div class="content">
            <h3>Github</h3>
            <p>Generative Gaussian Splatting for Efficient 3D Content Creation</p>
            <a href="https://github.com/dreamgaussian/dreamgaussian" class="link-btn">view more</a>
         </div>
      </div>

      <div class="box">
    
         <img src="../static/img/bilitrending.avif"></img>
         <div class="content">
            <h3>Bilibili</h3>
            <p>【潘安】请记得我｜重返未来1999斯奈德</p>
            <a href="#" class="link-btn">view more</a>
         </div>
      </div>

     
   </div>

</section>



<section class="reviews" id="reviews">

   <h1 class="heading">customers reviews</h1>

   <div class="box-container container">

      <div class="box">
         <img src="../static/img/sfx3.jpg" alt="">
         <h3>Feixiang Shu</h3>
         <p>SJTUhelper has transformed my academic life! It provides accurate deadlines for assignments, helps me manage my schedule, and recommends hot content from sites like Zhihu and GitHub. It's a must-have for every student!</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
         </div>
      </div>

      <div class="box">
         <img src="../static/img/wzr.jpg" alt="">
         <h3>Zirui Wang</h3>
         <p>I love SJTUhelper! It keeps me organized with assignment deadlines, helps me stay on top of my schedule, and recommends popular content from Zhihu, Bilibili, and GitHub. It's a game-changer for students!</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
         </div>
      </div>

      <div class="box">
         <img src="../static/img/lfz.jpg" alt="">
         <h3>Fazhong Liu</h3>
         <p>SJTUhelper is my study buddy! It gives me assignment deadlines, helps me plan my day, and suggests trending content from Zhihu, Bilibili, and GitHub. Highly recommended for students!</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
         </div>
      </div>

   </div>

</section>
 
 <!-- footer section starts  -->
 
 <section class="footer container">
 
    <a href="#" class="logo"> <i class="fas fa-user-astronaut"></i> SJTU </a>
 
    <p class="credit"> created by <span>SJTUhelper</span> | all rights reserved! </p>
 
   
 </section>
 
 <!-- footer section ends -->
 
 
<script src="../static/js/script.js"></script>
</body>


</html>
