<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>模板语法的学习</h1>
<div>{{ n1 }}</div>
<div>{{ n2 }}</div>

<div>{{ n2.0 }}</div>
<div>{{ n2.1 }}</div>
<div>{{ n2.2 }}</div>
<div>
    {% for item in n2 %}
        <span>{{ item }}</span>
    {% endfor %}
</div>
<hr/>
{{ n3 }}
{{ n3.name }}
{{ n3.salary }}
{{ n3.role }}
<ul>
    {% for k,v in n3.items %}
        <li>{{ k }} = {{ v }} </li>
    {% endfor %}
</ul>

<hr/>
{{ n4.1 }}
{{ n4.1.name }}
{{ n4.1.role }}

{% for item in n4 %}
    <div>{{ item.name }} {{ item.salary }}</div>
{% endfor %}

<hr/>

{% if n1 == "韩超" %}
    <h1>哒哒哒哒哒</h1>
{% else %}
    <h1>嘟嘟嘟嘟</h1>
{% endif %}


{% if n1 == "韩超" %}
    <h1>哒哒哒哒哒</h1>
    <h1>哒哒哒哒哒</h1>
{% elif n1 == "xxx" %}
    <h1>哔哔哔</h1>
{% else %}
    <h1>嘟嘟嘟嘟</h1>
{% endif %}


</body>
</html>
